---
import Layout from '@layouts/Neovim.astro';
import { basics } from '@cv'
import { work } from '@cv'
import {Icon} from "astro-icon/components";


const { name, label, location, profiles, summary } = basics
const { city, region, address } = location
---

<Layout title="About">
  <div class="flex flex-col items-center justify-center h-full mt-[8%]">
    <h1 class="text-4xl font-bold mb-2 text-blue nvim-line">About</h1>
    <div class="text-center w-1/2 h-full">
      <div class="mb-4 flex place-content-center">
        <p class="nvim-line max-w-max text-xs nvim-line">version 0.0.1</p>
      </div>
      <div class="flex flex-col text-left justify-left p-10 prose-invert min-h-max">
        <span class="text-xs text-skin-muted nvim-line">[me].jpg</span>
        <h1 class="text-2xl nvim-line">{name}</h1>
        <h2 class="text-sm text-green nvim-line">{label}</h2>
        <div class="flex items
        -center gap-2 pt-1 text-sm text-skin-muted nvim-line">
          {address}, {city}, {region}.
        </div>
        
        <div class="mb-2">
          <p class="font-mono opacity-75 font-semibold nvim-line">
            {summary}
          </p>
        </div>
        
        <footer class='flex flex-col gap-1'>
          {
            profiles.map(({ network, url}) => {
              return (
                <a
                  href={url}
                  data-href={url}
                  title={`Visit ${name} profile on ${network}`}
                  aria-label={`Visit ${name} profile on ${network}`}
                  target='_blank'
                  class='group nvim-line'
                  rel='noopener noreferrer'>
                  <Icon name="ri:arrow-right-s-line" width="18" height="18" class="text-blue group-hover:text-skin-hue transition ease-linear group-hover:translate-x-2 inline"></Icon>
                  <span >〔{network}〕</span>
                </a>
              )
            })
          }
        </footer>
        
        <span class="mb-2">---------------------------------------------------</span>
        
        <div class="min-h-max">
          {
            work && work.map(({ name, location, location_type, summary, responsibilities, achievements }) => {
              return (
                <div class="mb-4">
                  <h3 class="text-lg font-bold text-blue nvim-line">{name}</h3>
                  {(location || location_type) && (
                    <div class="text-xs text-skin-muted nvim-line">
                      {location} {location && location_type && '-'} {location_type}
                    </div>
                  )}
                  <div class="mt-4 flex flex-col gap-4 text-sm">
                    {summary && (
                      <div class="flex flex-col gap-2">
                        <h4 class="text-green nvim-line">Summary:</h4>
                        <ul class="text-skin-muted [&>li]:ml-4 flex list-decimal flex-col gap-2">
                          {Array.isArray(summary) ? (
                            summary.map(item => (
                              <li class="nvim-line">{item}</li>
                            ))
                          ) : (
                            <li class="nvim-line">{summary}</li>
                          )}
                        </ul>
                      </div>
                    )}
                    
                    { responsibilities &&  (
                        <div class="flex flex-col gap-2">
                          <h4 class="text-green nvim-line">Responsibilities:</h4>
                          <ul class="text-skin-muted [&>li]:ml-4 flex flex-col gap-2 list-decimal">
                            {responsibilities.map(responsibility => (
                              <li class="nvim-line">{responsibility}</li>
                            ))}
                          </ul>
                        </div>
                      )}
                    
                    { achievements && (
                      <div class="flex flex-col gap-2">
                        <h4 class="text-green nvim-line">Achievements:</h4>
                        <ul class="text-skin-muted [&>li]:ml-4 flex flex-col gap-2 list-decimal">
                          {achievements.map(achievement => (
                            <li class="nvim-line">{achievement}</li>
                          ))}
                        </ul>
                      </div>
                    )}
                  </div>
                </div>
              )
            })
          }
        </div>
        
      </div>
    </div>
  </div>
</Layout>