---
import Layout from '@layouts/Neovim.astro';
import {basics} from '@cv';

const {email: rawEmail, profiles} = basics;

const emailBody = rawEmail.split('@')[0];
const emailDomain = rawEmail.split('@')[1].split('.')[0];
const emailExtension = rawEmail.split('@')[1].split('.')[1];

const parsedProfiles = profiles.map(({url}) => {
  const rawUrl = url;
  
  if (url.includes('https://')) {
    url = url.split('https://')[1];
  }
  
  if (url.includes('www.')) {
    url = url.split('www.')[1];
  }
  
  const domain = url.split('.')[0];
  const extension = url.split('.')[1].split('/')[0];
  const params: Array<string> = url.split('.')[1].split('/').slice(1);
  
  return {url: rawUrl, domain, extension, params};
});
---

<Layout title="Contact">
  <div class="flex flex-col items-center justify-center h-[100vh]">
    <h1 class="text-4xl font-bold mb-2 text-blue nvim-line">Get in touch!</h1>
    <div class="text-center">
      <div class="mb-4 flex place-content-center">
        <p class="nvim-line max-w-max text-xs">-i have two cats-</p>
      </div>
      <p class="mb-3 nvim-line">I would like to meet you too, please use the contact information below:</p>
      
      <!-- Email render -->
      <div class="flex place-content-center">
        <a href={`mailto:${rawEmail}`} data-href={`mailto:${rawEmail}`} class="max-w-max nvim-line">
          {emailBody}<span class='symbol'>[at]</span>{emailDomain}<span class='symbol'>[dot]</span>{emailExtension}
        </a>
      </div>
    
      
      <!-- Contacts render -->
      {parsedProfiles && parsedProfiles.map(({ url, domain, extension, params }) => (
        <div class="flex place-content-center">
          <a href={url} data-href={url} class="max-w-max nvim-line">
            {domain}<span class='symbol'>[dot]</span>{extension}<span class='symbol'>[slash]</span>{
            params.map((param, index) => (
              <span>{param}{index < params.length - 1 ? <span class='symbol'>[slash]</span> : ''}</span>
            ))
          }
          </a>
        </div>
      ))}
    </div>
  </div>
</Layout>

<style>
  a {
    @apply mb-2 block decoration-dotted hover:underline hover:text-green;
  }
  a span.symbol {
    @apply group-hover:text-skin-muted text-blue font-semibold;
  }
</style>