---
import Section from '../Section.astro'
import { skills } from '@cv'
import { Icon } from 'astro-icon/components'
---

<Section className={Astro.props.className} title='Skills'>
  <ul
    class='inline-flex print:mt-4 flex-wrap gap-4 [&>li>svg]:text-skin-hue [&>li]:text-sm'>
    {
      skills.map(({ name, icon, level}) => {
        return (
          <li class='group relative flex items-center gap-1 rounded-md border border-solid cursor-default border-skin-hue/20 bg-skin-button-accent/20 px-1 py-0.5 text-xs text-skin-hue print:border-none print:bg-transparent print:p-0 print:text-zinc-800 transform transition-transform duration-500 hover:scale-110 hover:translate-y-[-8px] sm:hover:cursor-none'>
            {icon && <Icon name={icon} width={16} height={16} title={level} />}{' '}
              <span>{name}</span>
              <span class="absolute transition-transform duration-300 group-hover:translate-y-full opacity-0 group-hover:opacity-100">{level}</span>
          </li>
        )
      })
    }
  </ul>
</Section>
